{% include "_meta.html" %}
{% include "_header.html" %}

<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-user">
			<dt><i class="Hui-iconfont">&#xe62b;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe62c;</i></dt>
			<dd>
				<ul>
					<li><a _href="{{ url_for('user_list') }}" data-title="用户管理" href="javascript:void(0)">用户</a></li>
					<li><a href="javascript:;" onclick="member_add('添加用户','/users/add','','420')">新增用户</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-user">
			<dt><i class="Hui-iconfont">&#xe62b;</i> 用户组管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{{ url_for('group_list') }}" data-title="用户管理" href="javascript:void(0)">用户组</a></li>
					<li><a href="javascript:;" onclick="member_add('添加用户组','/groups/add','','280')">新增用户组</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-repos">
			<dt><i class="Hui-iconfont">&#xe66a;</i> 配置库管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{{ url_for('repo_list') }}" data-title="配置库管理" href="javascript:void(0)">配置库</a></li>
					<li><a href="javascript:;" onclick="member_add('添加SVN库','{{ url_for('repo_add') }}','','280')"" data-title="新增配置库" href="javascript:void(0)">新增配置库</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-user">
			<dt><i class="Hui-iconfont">&#xe616;</i> 权限管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{{ url_for('auth_item_list') }}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
					<li><a href="javascript:;" onclick="member_add('添加权限项','{{ url_for('auth_item_add') }}','','240')"" data-title="新增权限项" href="javascript:void(0)">新增权限项</a></li>
				</ul>
			</dd>
		</dl>
		<!--
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a _href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
				</ul>
			</dd>
		</dl>
		-->
		<dl id="menu-help">
			<dt><i class="Hui-iconfont">&#xe709;</i> 帮助<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{{ url_for('howto') }}" data-title="使用说明" href="javascript:void(0)">使用说明</a></li>
					<li><a _href="{{ url_for('auth_howto') }}" data-title="SVN权限指引" href="javascript:void(0)">SVN权限指引</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active"><span title="我的桌面" data-href="{{ url_for('welcome') }}">我的桌面</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="{{ url_for('welcome') }}"></iframe>
		</div>
	</div>
</section>

{% include "_footer.html" %}

<script type="text/javascript">
/*资讯-添加*/
function article_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*产品-添加*/
function product_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
</script> 
</body>
</html>