{% include "_meta.html" %}
<title>用户组管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户组 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-5">
		<span class="l">
			<form  class="form form-horizontal" action="/groups/list" method="post">
				<!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> -->
				<a href="javascript:;" onclick="member_add('添加用户组','{{ url_for('group_add') }}','','280')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户组</a>
				<input type="text" class="input-text" style="width:250px" placeholder="用户组名称" id="searchitem" name="searchitem">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户组</button>
			</form>
		</span> 
	</div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="5%"><input type="checkbox" name="" value=""></th>
				<th width="5%">ID</th>
				<th width="20%">用户组</th>
				<th width="50%">备注</th>
				<th width="10%">状态</th>
				<th width="10%">操作</th>
			</tr>
		</thead>
		{% block body %}
		<tbody>
		{% for group in groups %}
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{{ group.id }}</td>
				<td><u style="cursor:pointer" class="text-primary" onclick="member_show('用户组权限','/groups/auth/{{group.groupname}}','','660','510')">{{ group.groupname }}</u></td>
				<td style="text-align:left">{{ group.comments }}</td>
				{% if group.status|int == 1 %}
				<td class="td-status"><span class="label label-success radius">可用</span></td>
				{% else %}
				<td class="td-status"><span class="label label-defaunt radius">已禁用</span></td>
				{% endif %}
				<td class="td-manage">
					<a title="编辑" href="javascript:;" onclick="member_edit('修改用户组信息','/groups/modify/{{group.groupname}}','4','','280')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="编辑" href="javascript:;" onclick="member_edit('修改用户组用户','/groups/info/{{group.groupname}}','4','420','420')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe62c;</i></a>
					<a title="删除" href="javascript:;" onclick="member_del('确认删除用户组','/groups/del/{{group.groupname}}','4','500','400')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		{% else %}
            <tr><td colspan=9>未找到任何用户组</td></tr>
        {% endfor %}
		{% endblock %}
		</tbody>
	</table>
	
	</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='./lib/jquery/1.9.1/jquery.min.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='./lib/layer/2.1/layer.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='./lib/laypage/1.2/laypage.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='./js/H-ui.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='./js/H-ui.admin.js') }}"></script> 
<script type="text/javascript">
$(function(){
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});

/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-删除*/
function member_del(title,url,id,w,h){
	layer_show(title,url,w,h);
}

</script> 
</body>
</html>