{% include "_meta.html" %}
<script type="text/javascript">
var bool=document.referrer.indexOf("add");
if(bool>0){document.write("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加用户组成功");}
var bool=document.referrer.indexOf("modify");
if(bool>0){document.write("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改用户组成功");}
</script>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
  <dl style="margin-left:10px; color:#fff">
    <dt><span class="f-24">{{group.groupname}}</span></dt>
    <dd class="pt-10 f-12" style="margin-left:0">状态：{% if group.status|int == 1 %}可用{% else %}已禁用{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;最后修改：{{group.lasttime}}</dd>
  </dl>
</div>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-5">
		<span class="l">
			<form  class="form form-horizontal" action="/groups" method="post">
				<a title="添加用户" href="javascript:;" onclick="location='/groups/join/{{group.id}}'" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a>
			</form>
		</span> 
	</div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="35">ID</th>
				<th width="200">姓名</th>
				<th width="200">登录名</th>
				<th width="50">操作</th>
			</tr>
		</thead>
		{% block body %}
		<tbody>
		{% for user in users %}
			<tr class="text-c">
				{% set user_loop = loop %}
				<td>{{ user_loop.index }}</td>
				<td>{{ user[1] }}</td>
				<td>{{ user[2] }}</td>
				<td class="td-manage">
					<a title="删除" href="javascript:;" onclick="location='/groups/remove/{{group.id}}+{{ user[0] }}'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		{% else %}
			<tr><td colspan=4>组中没有任何用户</td></tr>
		{% endfor %}
		{% endblock %}
		</tbody>
	</table>
	</div>
</div>	
</body>
{% include "_footer.html" %}

