{% include "_meta.html" %}

<title>添加权限项 - SVN Master</title>
</head>
<body>
<article class="page-container">
{% block content %}
	<form action="" method="post" class="form form-horizontal" id="form-member-add" name="addauthitem">
	{{ form.hidden_tag() }}
	<!--<form action="/users/add" method="post" class="form form-horizontal" id="form-member-add">-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>配置库：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{{form.repo_name(class="input-text")}}
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限项（路径）：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{{form.authitem(class="input-text",placeholder="以‘/’开头")}}
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				{% if info %}<label"><span class="c-red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ info }}</span></label>{% endif %}
			</div>
		</div>
	</form>
{% endblock %}
</article>

{% include "_footer.html" %}

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			repo_name:{
				required:true,
				minlength:1
			},
			authitem:{
				required:true,
				minlength:1
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>